.css_con_id_label { }
.css_con_id_line {text-align:left;}
.css_con_id_obj {text-align:left;}
.css_con_nombre_label { }
.css_con_nombre_line { }
.css_con_nombre_obj { }
.css_con_apellido_label { }
.css_con_apellido_line { }
.css_con_apellido_obj { }
.css_con_email_label { }
.css_con_email_line { }
.css_con_email_obj { }
.css_tcc_id_label { }
.css_tcc_id_line {text-align:left;}
.css_tcc_id_obj {text-align:left;}
.css_con_sobre_id_label { }
.css_con_sobre_id_line {text-align:left;}
.css_con_sobre_id_obj {text-align:left;}
.css_comentario_label { }
.css_comentario_line { }
.css_comentario_obj { }
