.css_tpi_codigo__label {text-align:right;}
.css_tpi_codigo__line {text-align:left;}
.css_tpi_codigo__obj {text-align:left;}
.css_cla_codigo__label {text-align:right;}
.css_cla_codigo__line {text-align:left;}
.css_cla_codigo__obj {text-align:left;}
.css_arc_codigo__label {text-align:right;}
.css_arc_codigo__line {text-align:left;}
.css_arc_codigo__obj {text-align:left;}
.css_arc_glosa__label { }
.css_arc_glosa__line { }
.css_arc_glosa__obj { }
.css_arc_comentario__label { }
.css_arc_comentario__line { }
.css_arc_comentario__obj { }
.css_arc_archivo__label { }
.css_arc_archivo__line { }
.css_arc_archivo__obj { }
