.css_usu_id_label { }
.css_usu_id_line {text-align:left;}
.css_usu_id_obj {text-align:left;}
.css_usu_usuario_label { }
.css_usu_usuario_line { }
.css_usu_usuario_obj { }
.css_usu_nombre_label { }
.css_usu_nombre_line { }
.css_usu_nombre_obj { }
.css_usu_habilitado_label { }
.css_usu_habilitado_line {text-align:left;}
.css_usu_habilitado_obj {text-align:left;}
.css_usu_pass_label { }
.css_usu_pass_line { }
.css_usu_pass_obj { }
