.css_id__label {text-align:right;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_sc_field_0__label { }
.css_sc_field_0__line { }
.css_sc_field_0__obj { }
.css_sc_field_1__label { }
.css_sc_field_1__line { }
.css_sc_field_1__obj { }
.css_comuna__label { }
.css_comuna__line { }
.css_comuna__obj { }
.css_sc_field_2__label { }
.css_sc_field_2__line { }
.css_sc_field_2__obj { }
.css_sc_field_3__label { }
.css_sc_field_3__line { }
.css_sc_field_3__obj { }
.css_agenda__label { }
.css_agenda__line { }
.css_agenda__obj { }
.css_rce__label { }
.css_rce__line { }
.css_rce__obj { }
.css_indicaciones__label { }
.css_indicaciones__line { }
.css_indicaciones__obj { }
.css_dental__label { }
.css_dental__line { }
.css_dental__obj { }
.css_sc_field_4__label { }
.css_sc_field_4__line { }
.css_sc_field_4__obj { }
.css_sc_field_5__label { }
.css_sc_field_5__line { }
.css_sc_field_5__obj { }
.css_rce_1__label { }
.css_rce_1__line { }
.css_rce_1__obj { }
.css_indicaciones_1__label { }
.css_indicaciones_1__line { }
.css_indicaciones_1__obj { }
.css_sc_field_6__label { }
.css_sc_field_6__line { }
.css_sc_field_6__obj { }
.css_rce_2__label { }
.css_rce_2__line { }
.css_rce_2__obj { }
.css_indicaciones_2__label { }
.css_indicaciones_2__line { }
.css_indicaciones_2__obj { }
.css_triage__label { }
.css_triage__line { }
.css_triage__obj { }
.css_sc_field_7__label { }
.css_sc_field_7__line { }
.css_sc_field_7__obj { }
.css_sc_field_8__label { }
.css_sc_field_8__line { }
.css_sc_field_8__obj { }
.css_sc_field_9__label { }
.css_sc_field_9__line { }
.css_sc_field_9__obj { }
.css_dispensacion__label { }
.css_dispensacion__line { }
.css_dispensacion__obj { }
.css_sc_field_10__label { }
.css_sc_field_10__line { }
.css_sc_field_10__obj { }
.css_laboratorio__label { }
.css_laboratorio__line { }
.css_laboratorio__obj { }
.css_sc_field_11__label { }
.css_sc_field_11__line { }
.css_sc_field_11__obj { }
.css_sc_field_12__label { }
.css_sc_field_12__line { }
.css_sc_field_12__obj { }
.css_erp__label { }
.css_erp__line { }
.css_erp__obj { }
.css_pabellon__label { }
.css_pabellon__line { }
.css_pabellon__obj { }
.css_maternidad__label { }
.css_maternidad__line { }
.css_maternidad__obj { }
.css_archivo__label { }
.css_archivo__line { }
.css_archivo__obj { }
.css_lme__label { }
.css_lme__line { }
.css_lme__obj { }
