.css_mensaje_label { }
.css_mensaje_line {font-family:Arial, sans-serif;font-size:16px;color:#0063AE;font-weight:normal;text-align:justify;vertical-align:super;width:300px;height:250px;}
.css_mensaje_obj {font-family:Arial, sans-serif;font-size:15px;color:#3366FF;font-weight:normal;text-align:center;width:300px;height:280px;}
