.css_tpi_codigo__label { }
.css_tpi_codigo__line {text-align:left;}
.css_tpi_codigo__obj {text-align:left;}
.css_cla_codigo__label { }
.css_cla_codigo__line {text-align:left;}
.css_cla_codigo__obj {text-align:left;}
.css_cla_descripcion__label { }
.css_cla_descripcion__line { }
.css_cla_descripcion__obj { }
